[reviewboard]
  url = https://reviewboard-vbn.alstom.hub/
[clangFormat]
  binary = clang-format
  extension = c, h
  style = file
[init]
  templatedir = /home/dev/ouroboros/tools/git-templates/
[user]
  login = e_dletin
  name = David Letinaud
  email = david.letinaud-ext@alstomgroup.com
[push]
  default = simple

[alias]
  a = add
  s = status
  c = checkout
  d = diff
  p = push
  b = branch
  lad = log --all --graph --pretty=format:'%Cgreen%ad%Creset %C(auto)%h%d %s %C(bold black)<%aN>%Creset' --date=format-local:'%Y-%m-%d %H:%M (%a)'
[core]
  editor = vim

[status]
  showUntrackedFiles = no

[url "ssh://git@github.com/"]
